#info{
	font-family: "Arial", sans-serif;
	font-size: 2em;
}

#map{
	width: 100%; 
	height: 600px;
}

#frontRight{
	vertical-align: top;
	display: inline-block;
	width: 45%;
}
#mainTitle{
	text-align: center;
}
#frontLeft{
	vertical-align: top;
	display: inline-block;
	width: 50%;

}
#magni{
  border: none;
  font-size: 0.7em;
  display: inline;
}
.circle{
	background-color: #4CAF50; 
    border: none;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    color: white;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.circle:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*CSS for the Range slider*/
/*708090
4CAF50*/
.ui-widget-content {
  background-color: #FFFFFF;
}
.ui-widget-header {
  background-color: #708090;
}
#slider-range{
  margin-top: 10px;
}

#mIndicator{
	font-size: 1em;
	border: none;
}
